* {
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
    border: none;
    outline: none;
}


.mano {
    width: 30%;
}

.mano img {
    width: 80%;
}

button{
    background-color: #a490d2; #
    border-radius: 20%;
    margin-top: 10%;
    margin-bottom: 15%;
    height: 40%;
    width: 40%;
    justify-content: center;
    align-items: center;
    color: white;
}


.container {
    display: flex;


}

.personas {
    display: flex;
    flex-direction: column;
    width: 20%;
    border-right: solid 1px #dedcdc;

}

.maria {
    display: flex;
    align-items: center;
    gap: 15px;
}

.maria {
    display: flex;
    justify-content: space-between;
    padding: 4% 8% 4% 2%;
}

.maria2 img {
    width: 45px;
    height: 45px;
    border-radius: 50%;
}

.maria2{
    display: flex;
    justify-content: center;
    gap: 10px;
}

.estado {
    font-size: 12px;
}

.iconos {
    display: flex;
    align-items: center;
    gap: 15px;
}

.boton {
    display: flex;
    justify-content: center;
    border-top: solid 1px #c5c2c2;
    border-bottom: solid 1px #c5c2c2;
    margin: 5% 0;

}



.usuarios {
    display: flex;
    gap: 8px;
    padding: 5% 10% 5% 3%;
    border-bottom: solid 1px #d5d3d3;
}

.usuarios img {
    border-radius: 50%;
    flex-shrink: 2;
    width: 50px;
    height: 50px;
}

.chat {
    display: flex;
    flex-direction: column;
    justify-content: center;
    flex-grow: 2;
}

.titulo {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

main {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #f0eded;
    width: 80%;
    text-align: center;
}

